@import "mq";
@import "fonts";

$oscar: #e9cb9e;

.content__main-column--interactive {
    & > p, & > h2, .element-interactive,.element-atom { 
        max-width: 620px;

        @include mq(leftCol) {
            margin-left: 160px !important;
        }
        @include mq(wide) {
            margin-left: 240px !important;
        }
    }

    & > h2 {
    	font-family: "Guardian Egyptian Web", Georgia;
    	font-size: 36px;
    	line-height: 42px;
    	color: #333;
    	margin-top: 36px;
    	margin-bottom: 6px;
    }

    .element--immersive {
    	max-width: initial;
    	margin-left: 0 !important;
        margin-bottom: 36px !important;
    } 

    .element--showcase {
        
    }
}

.content__head {
    background-color: $oscar;
    position: relative;
    .gs-container {
        background-image: url('<%= path %>/assets/statue.png');//background-image: url('https://interactive.guim.co.uk/atoms/2017/07/bolt-timer/track-bg.png');
        background-repeat: no-repeat;
        background-position: top right;
        overflow: hidden;

        background-size: 400px auto;
        background-position: 96% -20px;

        @include mq(tablet) {
            height: auto;

        }

        @include mq($until: desktop) {
            //background-image: url('<%= path %>/assets/3c-header-transparent@2x.png');
            background-position: right -20px;

        }

        @include mq($until: tablet) {
            background-position: calc(100% + 200px) -20px;
        }

        min-height: 300px;

        position: relative;

    }

    .content__main-column {
        z-index: 300;
        @include mq(tablet, desktop) {
            margin-left: 0;
        }
    }

    .content__headline {
        @include fs-headline(9);
        font-weight: 900;

        position: absolute;
        top: -2000px;

        &:before {
            content: "All-time";
            position: absolute;
            background-color: white;
            padding: 0 6px 4px 6px;
            top: 2024px;

        }

        &:after {
            content: "Oscars";
            position: absolute;
            background-color: black;
            color: white;
            padding: 0 6px 4px 6px;
            top: 2079px;
            left: 140px;

            @include mq($until: leftCol) {
                top: 2072px;
                left: 110px;
            }

            @include mq

        }

        font-size: 56px;
        line-height: 58px;
        padding-bottom: 12px;
        @include mq(tablet, desktop) {
            font-size: 48px;
            line-height: 50px;
        }
    }

    @include mq($until: tablet) {
        .gs-container {

            &:after {
                right: 10px;
                height: 200px;
                width: 260px;
                bottom: 0;
                //background-image: url('<%= path %>/assets/3c-header@2x.png');
                background-size: cover;
            }
        }

        .content__main-column {
            top: 4px;
        }

        .content__headline {
            @include fs-headline(9);
            font-weight: 900;
        }
    }

    @include mq(tablet, desktop) {
        .gs-container {
            &:after {
                height: 270px;
                width: 348px;
            }
        }

        .content__main-column {
            top: 12px;
        }
    }

    @include mq(desktop, wide) {
        .content__main-column {
            //max-width: 560px;
        }
    }
}

.content__head {

    .gs-container {
        @include mq($until: leftCol) {
            max-width: 100%;
            width: 80%;
        }
        @include mq($until: tablet) {
            width: 100%;
        }
    }
}

.content__standfirst {

    position: absolute;
    top: 180px;
    width: 350px;
    @include fs-headline(4);
}

.content__dateline {
    display: none !important;
}